@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Inter", sans-serif;
}
.home-img{
    /*height:300px;*/
}
@media only screen and (min-width: 768px){

    .home-img{
        height:600px;
    }

    .parent:hover .child {
        opacity:1;
        height:auto;
        overflow:none;
        transform: translateY(0);
    }
    .child {
        opacity:0;
        height:0;
        overflow:hidden;
        transform: translateY(-10%);
    }
}


/*.mission{*/
/*    background-image: url(../../public/images/bg/bg1.jpg);*/
/*}*/
